html {
  overflow-y: auto !important;
}

.v-btn {
  text-transform: unset !important;
}

table > thead > tr:last-child > th {
  border: none !important;
}

table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row),
table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
  border: none !important;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #25262c;
}

table > tbody > tr,
.v-chip {
  cursor: pointer !important;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #db1e72 #1e1f24;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1e1f24;
}

*::-webkit-scrollbar-thumb {
  background-color: #db1e72;
  border-radius: 10px;
  border: 3px solid #1e1f24;
}