@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "flowbite-vue/index.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite-vue";

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.pause-btn {
  background-color: var(--color-yellow-900);
  color: var(--color-yellow-300);
}

.resume-btn {
  background-color: var(--color-green-900);
  color: var(--color-green-300);
}
